<html>
  <head>
    <link rel="stylesheet" href="/public/css/main.css" />
    <title><%= headTitle %></title>
  </head>
  <body>
    <% include ./partials/navigation.ejs %>
    <main>
      <h1>Logout</h1>
      <nav>
        <a href="/">Home</a><br /><a href="/kill">Logout from application</a>
      </nav>
    </main>
  </body>
</html>
